<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>isometric_grass_normal_tileset_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,757},{200,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,149}}</string>
                <key>sourceSize</key>
                <string>{200,149}</string>
            </dict>
            <key>isometric_grass_normal_tileset_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,757},{200,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,149}}</string>
                <key>sourceSize</key>
                <string>{200,149}</string>
            </dict>
            <key>isometric_grass_normal_tileset_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,606},{200,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,149}}</string>
                <key>sourceSize</key>
                <string>{200,149}</string>
            </dict>
            <key>isometric_grass_normal_tileset_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,606},{200,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,149}}</string>
                <key>sourceSize</key>
                <string>{200,149}</string>
            </dict>
            <key>isometric_grass_normal_tileset_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,455},{200,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,149}}</string>
                <key>sourceSize</key>
                <string>{200,149}</string>
            </dict>
            <key>isometric_grass_normal_tileset_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,455},{200,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,149}}</string>
                <key>sourceSize</key>
                <string>{200,149}</string>
            </dict>
            <key>isometric_grass_normal_tileset_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,304},{200,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,149}}</string>
                <key>sourceSize</key>
                <string>{200,149}</string>
            </dict>
            <key>isometric_grass_normal_tileset_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{200,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,149}}</string>
                <key>sourceSize</key>
                <string>{200,149}</string>
            </dict>
            <key>isometric_grass_normal_tileset_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,153},{200,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,149}}</string>
                <key>sourceSize</key>
                <string>{200,149}</string>
            </dict>
            <key>isometric_grass_normal_tileset_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,153},{200,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,149}}</string>
                <key>sourceSize</key>
                <string>{200,149}</string>
            </dict>
            <key>isometric_grass_normal_tileset_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{200,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,149}}</string>
                <key>sourceSize</key>
                <string>{200,149}</string>
            </dict>
            <key>isometric_grass_normal_tileset_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,149}}</string>
                <key>sourceSize</key>
                <string>{200,149}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>isometric_grass_normal.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a0ca141a090f95d4b98291f5c5b784b1:daef7342397b86d62d5c1d84ffc1f8f5:cf2d1062f120e836a94e6691187793fa$</string>
            <key>textureFileName</key>
            <string>isometric_grass_normal.png</string>
        </dict>
    </dict>
</plist>
