<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>isometric_desert_tileset_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,1832},{209,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,120}}</string>
                <key>sourceSize</key>
                <string>{209,120}</string>
            </dict>
            <key>isometric_desert_tileset_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,1710},{209,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,120}}</string>
                <key>sourceSize</key>
                <string>{209,120}</string>
            </dict>
            <key>isometric_desert_tileset_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,1588},{209,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,120}}</string>
                <key>sourceSize</key>
                <string>{209,120}</string>
            </dict>
            <key>isometric_desert_tileset_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,1466},{209,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,120}}</string>
                <key>sourceSize</key>
                <string>{209,120}</string>
            </dict>
            <key>isometric_desert_tileset_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,1344},{209,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,120}}</string>
                <key>sourceSize</key>
                <string>{209,120}</string>
            </dict>
            <key>isometric_desert_tileset_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,1222},{209,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,120}}</string>
                <key>sourceSize</key>
                <string>{209,120}</string>
            </dict>
            <key>isometric_desert_tileset_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,1100},{209,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,120}}</string>
                <key>sourceSize</key>
                <string>{209,120}</string>
            </dict>
            <key>isometric_desert_tileset_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,978},{209,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,120}}</string>
                <key>sourceSize</key>
                <string>{209,120}</string>
            </dict>
            <key>isometric_desert_tileset_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,856},{209,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,120}}</string>
                <key>sourceSize</key>
                <string>{209,120}</string>
            </dict>
            <key>isometric_desert_tileset_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,734},{209,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,120}}</string>
                <key>sourceSize</key>
                <string>{209,120}</string>
            </dict>
            <key>isometric_desert_tileset_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,612},{209,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,120}}</string>
                <key>sourceSize</key>
                <string>{209,120}</string>
            </dict>
            <key>isometric_desert_tileset_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,490},{209,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,120}}</string>
                <key>sourceSize</key>
                <string>{209,120}</string>
            </dict>
            <key>isometric_grass_tileset_ext_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1690,368},{209,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,120}}</string>
                <key>sourceSize</key>
                <string>{209,120}</string>
            </dict>
            <key>isometric_grass_tileset_ext_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1479,368},{209,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,120}}</string>
                <key>sourceSize</key>
                <string>{209,120}</string>
            </dict>
            <key>isometric_grass_tileset_ext_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1268,368},{209,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,120}}</string>
                <key>sourceSize</key>
                <string>{209,120}</string>
            </dict>
            <key>isometric_grass_tileset_ext_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1057,368},{209,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,120}}</string>
                <key>sourceSize</key>
                <string>{209,120}</string>
            </dict>
            <key>isometric_grass_tileset_ext_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,368},{209,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,120}}</string>
                <key>sourceSize</key>
                <string>{209,120}</string>
            </dict>
            <key>isometric_grass_tileset_ext_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,368},{209,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,120}}</string>
                <key>sourceSize</key>
                <string>{209,120}</string>
            </dict>
            <key>isometric_grass_tileset_ext_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,368},{209,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,120}}</string>
                <key>sourceSize</key>
                <string>{209,120}</string>
            </dict>
            <key>isometric_grass_tileset_ext_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,368},{209,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,120}}</string>
                <key>sourceSize</key>
                <string>{209,120}</string>
            </dict>
            <key>isometric_grass_tileset_ext_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1690,246},{209,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,120}}</string>
                <key>sourceSize</key>
                <string>{209,120}</string>
            </dict>
            <key>isometric_grass_tileset_ext_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1479,246},{209,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,120}}</string>
                <key>sourceSize</key>
                <string>{209,120}</string>
            </dict>
            <key>isometric_grass_tileset_ext_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1268,246},{209,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,120}}</string>
                <key>sourceSize</key>
                <string>{209,120}</string>
            </dict>
            <key>isometric_grass_tileset_ext_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1057,246},{209,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,120}}</string>
                <key>sourceSize</key>
                <string>{209,120}</string>
            </dict>
            <key>isometric_lake_water_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,246},{209,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,120}}</string>
                <key>sourceSize</key>
                <string>{209,120}</string>
            </dict>
            <key>isometric_lake_water_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,246},{209,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,120}}</string>
                <key>sourceSize</key>
                <string>{209,120}</string>
            </dict>
            <key>isometric_lake_water_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,246},{209,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,120}}</string>
                <key>sourceSize</key>
                <string>{209,120}</string>
            </dict>
            <key>isometric_lake_water_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,246},{209,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,120}}</string>
                <key>sourceSize</key>
                <string>{209,120}</string>
            </dict>
            <key>isometric_lake_water_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1832},{209,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,120}}</string>
                <key>sourceSize</key>
                <string>{209,120}</string>
            </dict>
            <key>isometric_lake_water_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1710},{209,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,120}}</string>
                <key>sourceSize</key>
                <string>{209,120}</string>
            </dict>
            <key>isometric_lake_water_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1588},{209,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,120}}</string>
                <key>sourceSize</key>
                <string>{209,120}</string>
            </dict>
            <key>isometric_lake_water_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1466},{209,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,120}}</string>
                <key>sourceSize</key>
                <string>{209,120}</string>
            </dict>
            <key>isometric_lake_water_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1344},{209,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,120}}</string>
                <key>sourceSize</key>
                <string>{209,120}</string>
            </dict>
            <key>isometric_lake_water_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1222},{209,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,120}}</string>
                <key>sourceSize</key>
                <string>{209,120}</string>
            </dict>
            <key>isometric_lake_water_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1100},{209,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,120}}</string>
                <key>sourceSize</key>
                <string>{209,120}</string>
            </dict>
            <key>isometric_lake_water_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,978},{209,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,120}}</string>
                <key>sourceSize</key>
                <string>{209,120}</string>
            </dict>
            <key>isometric_stone_tileset_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,856},{209,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,120}}</string>
                <key>sourceSize</key>
                <string>{209,120}</string>
            </dict>
            <key>isometric_stone_tileset_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,734},{209,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,120}}</string>
                <key>sourceSize</key>
                <string>{209,120}</string>
            </dict>
            <key>isometric_stone_tileset_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,612},{209,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,120}}</string>
                <key>sourceSize</key>
                <string>{209,120}</string>
            </dict>
            <key>isometric_stone_tileset_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{209,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,120}}</string>
                <key>sourceSize</key>
                <string>{209,120}</string>
            </dict>
            <key>isometric_stone_tileset_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{209,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,120}}</string>
                <key>sourceSize</key>
                <string>{209,120}</string>
            </dict>
            <key>isometric_stone_tileset_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{209,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,120}}</string>
                <key>sourceSize</key>
                <string>{209,120}</string>
            </dict>
            <key>isometric_stone_tileset_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1690,124},{209,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,120}}</string>
                <key>sourceSize</key>
                <string>{209,120}</string>
            </dict>
            <key>isometric_stone_tileset_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1479,124},{209,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,120}}</string>
                <key>sourceSize</key>
                <string>{209,120}</string>
            </dict>
            <key>isometric_stone_tileset_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1268,124},{209,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,120}}</string>
                <key>sourceSize</key>
                <string>{209,120}</string>
            </dict>
            <key>isometric_stone_tileset_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1057,124},{209,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,120}}</string>
                <key>sourceSize</key>
                <string>{209,120}</string>
            </dict>
            <key>isometric_stone_tileset_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,124},{209,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,120}}</string>
                <key>sourceSize</key>
                <string>{209,120}</string>
            </dict>
            <key>isometric_stone_tileset_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,124},{209,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,120}}</string>
                <key>sourceSize</key>
                <string>{209,120}</string>
            </dict>
            <key>isometric_swamp_tileset_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,124},{209,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,120}}</string>
                <key>sourceSize</key>
                <string>{209,120}</string>
            </dict>
            <key>isometric_swamp_tileset_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,124},{209,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,120}}</string>
                <key>sourceSize</key>
                <string>{209,120}</string>
            </dict>
            <key>isometric_swamp_tileset_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{209,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,120}}</string>
                <key>sourceSize</key>
                <string>{209,120}</string>
            </dict>
            <key>isometric_swamp_tileset_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1690,2},{209,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,120}}</string>
                <key>sourceSize</key>
                <string>{209,120}</string>
            </dict>
            <key>isometric_swamp_tileset_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1479,2},{209,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,120}}</string>
                <key>sourceSize</key>
                <string>{209,120}</string>
            </dict>
            <key>isometric_swamp_tileset_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1268,2},{209,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,120}}</string>
                <key>sourceSize</key>
                <string>{209,120}</string>
            </dict>
            <key>isometric_swamp_tileset_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1057,2},{209,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,120}}</string>
                <key>sourceSize</key>
                <string>{209,120}</string>
            </dict>
            <key>isometric_swamp_tileset_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,2},{209,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,120}}</string>
                <key>sourceSize</key>
                <string>{209,120}</string>
            </dict>
            <key>isometric_swamp_tileset_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,2},{209,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,120}}</string>
                <key>sourceSize</key>
                <string>{209,120}</string>
            </dict>
            <key>isometric_swamp_tileset_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{209,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,120}}</string>
                <key>sourceSize</key>
                <string>{209,120}</string>
            </dict>
            <key>isometric_swamp_tileset_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,2},{209,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,120}}</string>
                <key>sourceSize</key>
                <string>{209,120}</string>
            </dict>
            <key>isometric_swamp_tileset_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{209,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,120}}</string>
                <key>sourceSize</key>
                <string>{209,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>isometric_ground_ext.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1cb22f548268a9a0c36c0b17a41434ae:b16f39eb4345b9c524ea745ca983b618:8a21c3314c5bfe2a6a930fcd929d7d63$</string>
            <key>textureFileName</key>
            <string>isometric_ground_ext.png</string>
        </dict>
    </dict>
</plist>
