<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>isometric_grass_tileset_ext_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,124},{209,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,120}}</string>
                <key>sourceSize</key>
                <string>{209,120}</string>
            </dict>
            <key>isometric_grass_tileset_ext_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,124},{209,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,120}}</string>
                <key>sourceSize</key>
                <string>{209,120}</string>
            </dict>
            <key>isometric_grass_tileset_ext_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{209,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,120}}</string>
                <key>sourceSize</key>
                <string>{209,120}</string>
            </dict>
            <key>isometric_grass_tileset_ext_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1690,2},{209,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,120}}</string>
                <key>sourceSize</key>
                <string>{209,120}</string>
            </dict>
            <key>isometric_grass_tileset_ext_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1479,2},{209,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,120}}</string>
                <key>sourceSize</key>
                <string>{209,120}</string>
            </dict>
            <key>isometric_grass_tileset_ext_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1268,2},{209,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,120}}</string>
                <key>sourceSize</key>
                <string>{209,120}</string>
            </dict>
            <key>isometric_grass_tileset_ext_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1057,2},{209,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,120}}</string>
                <key>sourceSize</key>
                <string>{209,120}</string>
            </dict>
            <key>isometric_grass_tileset_ext_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,2},{209,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,120}}</string>
                <key>sourceSize</key>
                <string>{209,120}</string>
            </dict>
            <key>isometric_grass_tileset_ext_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,2},{209,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,120}}</string>
                <key>sourceSize</key>
                <string>{209,120}</string>
            </dict>
            <key>isometric_grass_tileset_ext_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{209,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,120}}</string>
                <key>sourceSize</key>
                <string>{209,120}</string>
            </dict>
            <key>isometric_grass_tileset_ext_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,2},{209,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,120}}</string>
                <key>sourceSize</key>
                <string>{209,120}</string>
            </dict>
            <key>isometric_grass_tileset_ext_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{209,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,120}}</string>
                <key>sourceSize</key>
                <string>{209,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>isometric_grass_ext.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6fdfbd5a217a30855350747e9f0276b3:efd7ca420ce2cae6e611907daad8a3ed:4574a33614fada39f5243b22db42bc08$</string>
            <key>textureFileName</key>
            <string>isometric_grass_ext.png</string>
        </dict>
    </dict>
</plist>
